{% extends 'DrutaBundle:Default:dashboard.html.twig' %}

{% block content %}
    <!-- box body -->
    <div class="box-body">
        {#<div id="emaple1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

           <form method="GET" action="">
                 <div class="row">
                     <div class="col-sm-6">
                         <div class="dataTables_length">
                             <label>Mostrando
                                 <select name="entries" aria-controls="example1" class="form-control input-sm">
                                     <option value="15">15</option>
                                     <option value="30">30</option>
                                     <option value="50">50</option>
                                     <option value="100">100</option>
                                 </select> entradas
                              </label>
                         </div>
                     </div>
                     <div class="col-sm-6">
                         <div id="example1_filter" class="dataTables_filter">
                             <label>Buscar:<input name="search" class="form-control input-sm" value="" aria-controls="example1" type="search">
                             </label>
                         </div>
                     </div>
                 </div>
             </form>
        </div>#}

        <div class="row">
            <div class="col-sm-12">
                <table id="example1" class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Fecha</th>
                        <th>Imagen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for route in routes %}
                    <tr class='clickable-row' id="{{ route.getId() }}">
                        <th>{{ route.getName() }}</th>
                        <th>{{ route.getDescription() }}</th>
                        <th>{{ route.getDate() | date('d/m/Y') }}</th>
                        <th><img src="{{ route.getWebPathImage() }}" height="42" width="42"></th>
                    </tr>
                    {% endfor %}
                    {#<style>
                        .btn-success {display:none;}
                        .btn-warning {display:none;}
                    </style>#}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Tienes {{ routes | length }} registros</div>
            </div>
            <div class="col-sm-7">
                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">

                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>

    {% block javascript %}
        <script type="text/javascript">
            {#$('select[name=entries]').change(function () {
                var item = $('select[name=entries]').find(":selected").text();
                var url = '{{ path('my_routes', {'maxItemPerPage': 'numMaxItems' }) }}';

                window.location.href = url.replace("numMaxItems", item);
            });#}
            jQuery(document).ready(function($) {
                $(".clickable-row").click(function() {
                    var item = $('.clickable-row').attr('id');
                    var url = '{{ path('route_detail', {'id': 'idRoute' }) }}';

                    window.location.href = url.replace("idRoute", item);
                });
            });
        </script>
    {% endblock %}

{% endblock %}

