{% extends 'DrutaBundle:Default:dashboard.html.twig' %}

{% block content %}

    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="alert alert-primary alert-styled-left">
            <span class="text-semibold">{{ flash_message }}</span>
        </div>
    {% endfor %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    <!-- box body -->
    <div class="box-body">
        {% if own_route %}
            <div class="pull-right">
                <a class="btn btn-app" href="{{ path('create_route') }}">
                    <i class="fa fa-bandcamp"></i> Crear Ruta
                </a>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-12">
                <table id="example1" class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th class='hidden'></th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Fecha</th>
                        <th>Imagen</th>
                        {% if own_route %}
                            <th></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for route in routes %}
                    <tr>
                        <td class='hidden'>{{ route.getId() }}</td>
                        <td class='clickable-row'>{{ route.getName() }}</td>
                        <td class='clickable-row'>{{ route.getDescription() }}</td>
                        <td class='clickable-row'>{{ route.getDate() | date('d/m/Y') }}</td>
                        <td class='clickable-row'><img src="{{ route.getWebPathImage() }}" height="42" width="42"></td>
                        {% if own_route %}
                            <td>
                                <a class="btn btn-app" id="delete">
                                    <i class="fa fa-times-rectangle"></i> Borrar Ruta
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Tienes {{ routes | length }} registros</div>
            </div>
            <div class="col-sm-7">
                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">

                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>

    {% block javascript %}
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".clickable-row").click(function() {
                    var item = $(this).closest('tr').find('.hidden').text();
                    var url = '{{ path('route_detail', {'id': 'idRoute' }) }}';

                    window.location.href = url.replace("idRoute", item);
                });
                $("#delete").click(function() {
                    var item = $(this).closest('tr').find('.hidden').text();
                    var url = '{{ path('route_delete', {'id': 'idRoute' }) }}';

                    window.location.href = url.replace("idRoute", item);
                });
            });
        </script>
    {% endblock %}

{% endblock %}

