{% extends 'DrutaBundle:Default:dashboard.html.twig' %}

{% block content %}

    <div class="row">
        <div class = "col-md-9">
            <div class="box box-success">
                <div class="box-header with-border">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                        <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body ">
                    <div id="map" style="height: 400px; width: 100%">
                    </div>
                <!-- /.box-body -->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            {% for poi in pois %}
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{ poi.getName() }}</h3>

                        <p>{{ poi.getDescription() }}</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-bandcamp"></i>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% block javascript %}
        <script>
            var locations = [];
            {% for poi in pois  %}
                var latitude = '{{ poi.getLatitude() }}';
                var longitude = '{{ poi.getLongitude() }}';
                locations.push({lat: Number(latitude), lng: Number(longitude)});
            {% endfor %}

            var map, infoWindow;

            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: locations[0],
                    disableDoubleClickZoom: true
                });
                infoWindow = new google.maps.InfoWindow;

                //geolocalization
                {% if pois | length <= 0 %}
                    if(navigator.geolocation){
                        navigator.geolocation.getCurrentPosition(function(position){
                            var pos = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude
                            };


                            infoWindow.setPosition(pos);
                            infoWindow.setContent('Encontrada localizaci贸n');
                            infoWindow.open(map);
                            map.setCenter(pos);
                        }, function () {
                           handleLocationError(true, infoWindow, map.getCenter());
                        });
                    } else {
                        handleLocationError(false, infoWindow, map.getCenter());
                    }

                    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                        infoWindow.setPosition(pos);
                        infoWindow.setContent(browserHasGeolocation ?
                            'Error: El servicio de localizaci贸n ha fallado.' :
                            'Error: Su navegador no soporta geolocalizaci贸n');
                        map.setCenter(new google.maps.LatLng(37.779979, -3.789786));
                        infoWindow.open(map);
                    }
                {% endif %}

                //set own icons
                var icon = {
                    url: "{{ asset('uploads/place-map-marker-default.png')}}",
                    scaledSize: new google.maps.Size(24, 35),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(12, 35)
                };

                //paint route
                for(var m = 0; (m + 1) < locations.length; m++){
                    var service = new google.maps.DirectionsService();
                    var directionsDisplay = new google.maps.DirectionsRenderer();

                    var bounds = new google.maps.LatLngBounds();
                    if ((m + 1) < locations.length){
                        var src = locations[m];
                        var des = locations[m + 1];
                        service.route({
                            origin: src,
                            destination: des,
                            travelMode: google.maps.DirectionsTravelMode.WALKING
                        }, function (result, status) {
                            if (status == google.maps.DirectionsStatus.OK){
                                var path = new google.maps.MVCArray();
                                var poly = new google.maps.Polyline({
                                    map: map,
                                    strokeColor: '#4986E7'
                                });
                                poly.setPath(path);
                                for (var k = 0, len = result.routes[0].overview_path.length; k < len; k++){
                                    path.push(result.routes[0].overview_path[k]);
                                    bounds.extend(result.routes[0].overview_path[k]);
                                    map.fitBounds(bounds);
                                }
                            } else
                                alert("Servicio de direcci贸 fallido: " + status);
                        })
                    }
                }

                //set of locations
                var markers = locations.map(function (location) {
                    return new google.maps.Marker({
                        position: location,
                        icon: icon,
                        draggable: true
                    });
                });

                //insert new POI

                google.maps.event.addListener(map, 'dblclick', function(e) {
                    {% if own_route %}
                        placeMarkerAndPanTo(e.latLng, map);
                    {% endif %}
                });


                function placeMarkerAndPanTo(latLng, map) {
                    //TODO ajax for save this new POI
                    var marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                        icon: icon,
                        drawable: true
                    });
                }

                var markerCluster = new MarkerClusterer(map, markers,
                    {imagePath: "{{ asset('uploads/place-map-marker-default.png')}}"});

            }
        </script>
        <script type="text/javascript" src="{{asset('js/bootbox.min.js')}}"></script>
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
        <script>
            $("[data-widget='collapse']").click(function() {
                //Find the box parent
                var box = $(this).parents(".box").first();
                //Find the body and the footer
                var bf = box.find(".box-body, .box-footer");
                if (!box.hasClass("collapsed-box")) {
                    box.addClass("collapsed-box");
                    bf.slideUp();
                } else {
                    box.removeClass("collapsed-box");
                    bf.slideDown();
                }
            });
        </script>
    {% endblock %}

{% endblock %}